<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.beerpro">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.splash.SplashScreenActivity"
            android:theme="@style/LoginScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.home.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme" />
        <activity android:name=".presentation.search.SearchActivity" />
        <activity
            android:name=".presentation.details.DetailsActivity"
            android:label="@string/title_activity_single_beer"
            android:parentActivityName=".presentation.search.SearchActivity"
            android:theme="@style/DetailsPageTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.search.SearchActivity" />
        </activity>
        <activity
            android:name=".presentation.createrating.CreateRatingActivity"
            android:parentActivityName=".presentation.details.DetailsActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.details.DetailsActivity" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.wishlist.WishlistActivity"
            android:label="@string/title_activity_wishlist"
            android:parentActivityName=".presentation.home.HomeScreenActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".presentation.myratings.MyRatingsActivity"
            android:label="@string/title_activity_myratings"
            android:parentActivityName=".presentation.home.HomeScreenActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".presentation.mybeers.MyBeersActivity"
            android:label="@string/title_activity_mybeers"
            android:parentActivityName=".presentation.home.HomeScreenActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeScreenActivity" />
        </activity>
    </application>

</manifest>